
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Gothic:wght@400;700;800&display=swap');

:root{
    --ff-regular: "Nanum Gothic";
    --ff-title: "Lora";
    --fc-regular: rgb(236, 236, 236);
    --fs-regular: clamp(1rem, 0.5rem + 1.5vw, 2rem);
    --fs-large: clamp(2rem, 0.7rem + 3.75vw, 4rem);
    --fs-xlarge: clamp(2.5rem, 0.8rem + 5vw, 5rem);
    --fw-regular: 400;
    --fw-bold: 700;
    --bg-color: rgba(170, 170, 170, 40%);
    --brdr-color: rgb(236, 236, 236);
}

*{
    font-family: var(--ff-regular), 'Times New Roman', serif;    
    font-size: var(--fc-regular);
    font-weight: var(--fw-regular);
    color: var(--fc-regular);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgba(0, 0, 0, 5%),rgba(0, 0, 0, 80%)) ,url("./library-bg-large.jpg");
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(2px);
}

h1{
    font-family: var(--ff-title);
    font-size: var(--fs-xlarge);
    font-weight: var(--fw-bold);
    margin: 0;
    padding: 0;
}

p{
    font-size: var(--fs-regular);
}

.subTitle{
    opacity: 0;
    animation:fadeIn 2s linear forwards;
}

.title{
    opacity: 0;
    animation:fadeIn 3s linear 1s forwards;
}










@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}


